In [1]:
import pandas as pd

In [6]:
# read sheet 1 from the excel file
df_params = pd.read_excel("SrcKowData2.xlsx", sheet_name=0)
df_kow = pd.read_excel("SrcKowData2.xlsx", sheet_name=1)
df_kow_zwitter = pd.read_excel("SrcKowData2.xlsx", sheet_name=2)

In [7]:
df_params

       T     training set
0      N   validation set
1  blank   validation set
2      S     unique value
3      E  derive est frag

In [8]:
df_kow.head()

,CAS Number,Set,Mol Formula,Chem Name,Exp LogKow,Kowwin Est,Residual,Reference
0,000050-00-0,S,C1H2O1,Formaldehyde,0.35,0.35,0.00,"Hansch,C et al. (1995)"
1,000050-02-2,T,C22H29F1O5,Dexamethasone,1.83,1.72,-0.11,"Hansch,C et al. (1995)"
2,000050-03-3,T,C23H32O6,Hydrocortisone acetate,2.19,2.36,0.17,"Hansch,C et al. (1995)"
3,000050-04-4,T,C23H30O6,Cortisone acetate,2.10,2.14,0.04,"Hansch,C et al. (1995)"
4,000050-06-6,T,C12H12N2O3,Phenobarital,1.47,1.33,-0.14,"Hansch,C et al. (1995)"

In [9]:
df_kow_zwitter.head()

,CAS Number,Set,Mol Formula,Chem Name,Exp LogKow,Kowwin Est,Residual,Reference
0,000003-43-5,NaN,C16H19N3O3,TRPTOPHYL-PROLINE,-0.98,-1.23,NaN,Hansch et al; 1995
1,000003-43-6,NaN,C14H17N3O3,ALANYL-TRYPTOPHANE,-2.21,-1.82,NaN,Hansch et al; 1995
2,000003-43-7,NaN,C13H17N3O5,TYRGLYGLY,-3.51,-3.61,NaN,Hansch et al; 1995
3,000003-43-8,NaN,C14H20N2O4S1,METHIONYLTYROSINE,-2.03,-1.79,NaN,Hansch et al; 1995
4,000003-43-9,NaN,C14H20N2O3,PHEVAL,-1.68,-0.98,NaN,Hansch et al; 1995

In [10]:
# remove the preceding 0s from each entry of the CAS Number column
df_kow["CAS Number"] = df_kow["CAS Number"].apply(lambda x: x.lstrip("0"))
df_kow_zwitter["CAS Number"] = df_kow_zwitter["CAS Number"].apply(
    lambda x: x.lstrip("0")
)
# rename the CAS Number column to CASRN
df_kow = df_kow.rename(columns={"CAS Number": "CASRN"})
df_kow_zwitter = df_kow_zwitter.rename(columns={"CAS Number": "CASRN"})
# rename Exp LogKow	and Kowwin Est to logKow_exp and logKow_pred
df_kow = df_kow.rename(
    columns={"Exp LogKow": "logKow_exp", "Kowwin Est": "logKow_pred"}
)
df_kow_zwitter = df_kow_zwitter.rename(
    columns={"Exp LogKow": "logKow_exp", "Kowwin Est": "logKow_pred"}
)
# save the dataframes to csv files
df_params.to_csv("params.csv", index=False)
df_kow.to_csv("kow.csv", index=False)
df_kow_zwitter.to_csv("kow_zwitterionic.csv", index=False)