In [1]:
import dew_gwdata as gd

db = gd.sageodata()

In [2]:
wells = db.wells_in_group_type("OMN").dh_no

In [3]:
summ = db.wells_summary(wells)
summ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12387 entries, 0 to 389
Data columns (total 65 columns):
well_id                      12387 non-null object
dh_no                        12387 non-null int64
unit_long                    12387 non-null int64
unit_hyphen                  12387 non-null object
obs_no                       10588 non-null object
dh_name                      4853 non-null object
easting                      12387 non-null float64
northing                     12387 non-null float64
zone                         12387 non-null int64
latitude                     12387 non-null float64
longitude                    12387 non-null float64
aquifer                      11770 non-null object
pwa                          8154 non-null object
pwra                         2283 non-null object
nrm                          12338 non-null object
landscape                    12343 non-null object
dh_class_primary             12387 non-null object
dh_other_name                2120 non-null object
parent_dh_no                 88 non-null object
child_dh_no                  362 non-null float64
replaced_date                316 non-null datetime64[ns]
latest_status                7269 non-null object
latest_status_date           5592 non-null datetime64[ns]
purpose                      12387 non-null object
owner                        11985 non-null object
orig_drilled_depth           9633 non-null float64
orig_drilled_date            9549 non-null datetime64[ns]
max_drilled_depth            11876 non-null float64
max_drilled_depth_date       11739 non-null datetime64[ns]
latest_open_depth            11397 non-null float64
latest_open_depth_date       11951 non-null datetime64[ns]
latest_cased_from            9372 non-null float64
latest_cased_to              8394 non-null float64
latest_casing_min_diam       9583 non-null float64
drill_method                 12387 non-null object
comments                     5117 non-null object
latest_dtw                   10926 non-null float64
latest_swl                   10885 non-null float64
latest_rswl                  10722 non-null float64
latest_dry                   671 non-null object
latest_wl_date               11593 non-null datetime64[ns]
latest_ec                    10760 non-null float64
latest_tds                   10760 non-null float64
latest_sal_date              10732 non-null datetime64[ns]
latest_ph                    6621 non-null float64
latest_ph_date               6612 non-null datetime64[ns]
latest_yield                 5785 non-null float64
latest_yield_date            5785 non-null float64
latest_yield_extract_meth    3050 non-null object
latest_yield_duration        1903 non-null float64
latest_yield_meth            2635 non-null object
latest_ground_elev           9670 non-null float64
latest_ref_elev              9717 non-null float64
latest_elev_date             9327 non-null datetime64[ns]
engineering_dh               12387 non-null object
water_well                   12387 non-null object
water_point                  12387 non-null object
water_point_type             90 non-null object
mineral_dh                   12387 non-null object
petroleum_well               12387 non-null object
seismic_dh                   12387 non-null object
stratigraphic_dh             12387 non-null object
survey_horiz_accuracy        7163 non-null float64
survey_horiz_meth            7362 non-null object
hundred                      11616 non-null object
dtypes: datetime64[ns](9), float64(23), int64(3), object(30)
memory usage: 6.2+ MB

In [4]:
summ[["well_id", "pwa", "pwra", "nrm", "landscape"]]

,well_id,pwa,pwra,nrm,landscape
0,WNT011,Far North,None,South Australian Arid Lands,South Australian Arid Lands
1,WNT019,Far North,None,South Australian Arid Lands,South Australian Arid Lands
2,WNT007,Far North,None,South Australian Arid Lands,South Australian Arid Lands
3,WNT018,Far North,None,South Australian Arid Lands,South Australian Arid Lands
4,WNT015,Far North,None,South Australian Arid Lands,South Australian Arid Lands
...,...,...,...,...,...
385,BEN020,Lower Limestone Coast,None,South East,Limestone Coast
386,HIN114,Lower Limestone Coast,None,South East,Limestone Coast
387,GAM263,Lower Limestone Coast,None,South East,Limestone Coast
388,CAR081,Lower Limestone Coast,None,South East,Limestone Coast
389,RMK409,None,None,South Australian Murray-Darling Basin,Murraylands and Riverland