In [1]:
import pandas as pd
import dew_gwdata as gd

In [2]:
db = gd.sageodata()

In [3]:
wells = db.find_wells("6628-28077")
wells

['6628-28077']

In [4]:
# wells = db.find_wells("MOR201")
wells.dh_no

[288058]

In [5]:
pd.Series(name="rswl")

Series([], Name: rswl, dtype: float64)

In [6]:
df = gd.fetch_wl_data(wells)
df.head()

,well_id,dh_no,unit_long,unit_hyphen,obs_no,dh_name,easting,northing,zone,latitude,...,anomalous_ind,pumping_ind,measured_during,data_source,comments,created_by,creation_date,modified_by,modified_date,database
0,6628-28077,288058,662828077,6628-28077,None,None,276952.76,6155737.53,54,-34.71611,...,N,N,D,DEWNR,None,GAHJM,2016-01-27 10:32:50,None,None,SA Geodata
1,6628-28077,288058,662828077,6628-28077,None,None,276952.76,6155737.53,54,-34.71611,...,N,N,F,DEW,None,MHUTCHESSON,2019-11-08 12:01:56,None,None,SA Geodata

In [7]:
# sdf = db.water_levels(wells)
hdf = gd.fetch_hydstra_dtw_data(wells)
hdf.head()

Empty DataFrame
Columns: [well_id, obs_date, unit_long, dtw, quality_code]
Index: []