In [1]:
import dew_gwdata as gd
import pandas as pd

In [2]:
db = gd.sageodata()

In [3]:
dh_nos = [104532, 342062, 275813]

In [4]:
df = db.query(
    db.SQL(
        """
SELECT wp.permit_no AS permit_no_only,
       To_char(con.permit_no)
              || To_char(con.permit_ex) AS permit_no_full,
       wp.wilma_or_wls                  AS permit_data_source,
       wp.issue_date                    AS permit_issued,
       wp.expiry_date                   AS permit_expiry,
       wp.purpose                       AS permit_purpose,
       wp.well_use                      AS permit_well_use,
       wp.holder_name                   AS permit_holder,
       wp.comments                      AS permit_comments,
       To_char(wp.holder_address_1
              || '\n'
              || wp.holder_address_2
              || '\n'
              || wp.holder_suburb
              || ' '
              || wp.holder_state
              || ' '
              || wp.holder_postcode) AS permit_holder_address,
       wp.area_desc                  AS permit_area_desc,
       wp.multiple_non_bkf_wells_flag,
       con.drillhole_no AS dh_no,
       dh.unit_no       AS unit_long,
       To_char(dh.map_100000_no)
              || '-'
              || To_char(dh.dh_seq_no) AS unit_hyphen,
       Trim(To_char(dh.obs_well_plan_code))
              || Trim(To_char(dh.obs_well_seq_no, '000')) AS obs_no,
       dh.dh_name,
       summ.aq_subaq AS aquifer,
       con.completion_date,
       con.completion_no,
       con.completion_date,
       con.start_depth,
       con.total_dpth                 AS total_depth,
       con.current_dpth               AS current_depth,
       con.final_dpth                 AS final_depth,
       con.final_standing_water_level AS final_swl,
       con.final_well_yield           AS final_yield,
       con.comments,
       con.screened,
       con.pcem                 AS pcemented,
       con.dev                  AS developed,
       con.abndn_ind            AS abandoned,
       con.bkf_ind              AS backfilled,
       con.dry_ind              AS dry,
       con.enlarged_ind         AS enlarged,
       con.flowing_ind          AS flowing,
       con.replacement_well_ind AS replacement,
       con.commenced_date,
       con.created_by      AS construction_created_by,
       con.creation_date   AS construction_creation_date,
       con.modified_by     AS construction_modified_by,
       con.modified_date   AS construction_modified_date,
       dh.amg_easting      AS easting,
       dh.amg_northing     AS northing,
       dh.amg_zone         AS zone,
       dh.neg_lat_deg_real AS latitude,
       dh.long_deg_real    AS longitude
FROM   (
              SELECT subwp.*
              FROM   dhdbview.wp_permit_wls_vw subwp
              join   dhdb.dc_construction_vw subcon
              ON     subcon.permit_no = subwp.permit_no
              WHERE  subcon.drillhole_no IN {DH_NO} ) wp
join   dhdb.dc_construction_vw con
ON     wp.permit_no = con.permit_no
join   dhdb.dd_drillhole_vw dh
ON     con.drillhole_no = dh.drillhole_no
join   dhdb.dd_drillhole_summary_vw summ
ON     dh.drillhole_no = summ.drillhole_no
""",
        dh_no=dh_nos,
    )
)
# where dh.drillhole_no in {DH_NO}
# dhdbview.wp_permit_wls_vw wp

with pd.option_context(
    "display.max_rows", 1000, "display.width", 1000, "display.max_colwidth", 20
):
    print(df.T)

                                        0                    1                    2                    3                    4                    5
permit_no_only                        393                  393               220805               252536               362998               362998
permit_no_full                        393                  393               220805               252536               362998               362998
permit_data_source                    WLS                  WLS                WILMA                WILMA                WILMA                WILMA
permit_issued         1976-09-01 00:00:00  1976-09-01 00:00:00  2013-04-09 00:00:00  2015-09-10 00:00:00  2020-05-11 00:00:00  2020-05-11 00:00:00
permit_expiry         1977-09-01 00:00:00  1977-09-01 00:00:00  2014-04-09 00:00:00  2016-09-10 00:00:00  2021-05-11 00:00:00  2021-05-11 00:00:00
permit_purpose        TO CONSTRUCT A W...  TO CONSTRUCT A W...    Well Construction        Well Backfill    Well Construction    Well Construction
permit_well_use                      None                 None        Investigation        Investigation           Monitoring           Monitoring
permit_holder         DELHI INTERNATIO...  DELHI INTERNATIO...  CALTEX AUSTRALIA...  WSP PARSONS BRIN...  MINISTER FOR ENV...  MINISTER FOR ENV...
permit_comments                      None                 None                 None                 None                 None                 None
permit_holder_add...  33 KING WILLIAM ...  33 KING WILLIAM ...  C/- PARSONS BRIN...  LEVEL 14\n1 KING...  GPO BOX 1047\n\n...  GPO BOX 1047\n\n...
permit_area_desc                     None                 None  Central Adelaide...  Central Adelaide...         Musgrave PWA         Musgrave PWA
multiple_non_bkf_...                    N                    N                    N                    N                    N                    N
dh_no                                7429               104532               275813               275813               342062               348967
unit_long                       592900102            694100072            662826958            662826958            583000350            583000353
unit_hyphen                      5929-102              6941-72           6628-26958           6628-26958             5830-350             5830-353
obs_no                               None                 None                 None                 None               WAD041                 None
dh_name                              None           NAMUR NO 1                 MW 5                 MW 5              DH-18-T                 None
aquifer                              None                   TQ                 Qpah                 Qpah              Tbe(Aq)                 None
completion_date       1976-09-16 00:00:00  1976-08-23 00:00:00  2013-05-13 00:00:00  2015-09-14 00:00:00  2020-06-14 00:00:00  2020-06-12 00:00:00
completion_no                        2429                44610               308955               322712               378378               385350
completion_date       1976-09-16 00:00:00  1976-08-23 00:00:00  2013-05-13 00:00:00  2015-09-14 00:00:00  2020-06-14 00:00:00  2020-06-12 00:00:00
start_depth                           0.0                  0.0                  0.0                  0.0                  0.0                  0.0
total_depth                          3.35                 73.0                 12.0                  0.0                 26.0                 25.0
current_depth                        3.35                 73.0                 12.0                  0.0                 20.5                  0.0
final_depth                          3.35                 73.0                 12.0                  0.0                 20.5                  0.0
final_swl                            1.67                  NaN                  9.8                  NaN                  5.5                  NaN
final_yield                          0.45                  NaN                  NaN                  NaN                  NaN                  NaN
comments                             None                 None   Investigation well  Decommissioned u...             New Well             New Well
screened                                U                    Y                    U                    U                    U                    U
pcemented                               N                    N                    N                    N                    N                    N
developed                               N                    N                    N                    N                    N                    N
abandoned                               N                    N                    N                    N                    N                    N
backfilled                              N                    N                    N                    Y                    N                    Y
dry                                     N                    N                    N                    N                    N                    N
enlarged                                N                    N                    N                    N                    N                    N
flowing                                 N                    N                    N                    N                    N                    N
replacement                             N                    N                    N                    N                    N                    N
commenced_date                        NaT                  NaT                  NaT                  NaT  2020-06-14 00:00:00  2020-06-12 00:00:00
construction_crea...                 DHDB                 DHDB                GAHJM                GAHJM      SOA_WATER_WELLS                GAHJM
construction_crea...  1997-07-26 04:06:37  1997-07-26 04:22:28  2013-11-28 11:27:47  2016-05-10 13:32:27  2020-07-28 13:30:12  2020-10-14 15:30:18
construction_modi...                GAACL                 DHDB                GAHJM                GAHJM             SGHADERI                 None
construction_modi...  1998-10-06 10:50:45  1997-07-26 05:56:59  2014-01-15 11:04:25  2016-05-10 13:33:10  2020-10-09 10:06:37                  NaT
easting                         535354.27            444137.24            278203.81            278203.81            499914.74            499849.73
northing                       6231367.57           6882245.53            6130618.2            6130618.2           6280236.52           6280236.52
zone                                   53                   54                   54                   54                   53                   53
latitude                       -34.057813           -28.184345           -34.942698           -34.942698           -33.617654           -33.617654
longitude                      135.383097           140.430875           138.571345           138.571345           134.999081            134.99838

In [20]:
db.wells_summary(dh_nos)[["dh_no", "dh_name"]]

    dh_no     dh_name
0  104532  NAMUR NO 1
1  275813        MW 5
2  342062     DH-18-T

In [21]:
db.permits_by_completed_drillholes_only(dh_nos)[
    ["permit_no_full", "dh_no", "permit_holder", "permit_purpose"]
]

,permit_no_full,dh_no,permit_holder,permit_purpose
0,393,104532,DELHI INTERNATIONAL OIL CORP,TO CONSTRUCT A WATER SUPPLY WELL
1,220805,275813,CALTEX AUSTRALIA PETROLEUM PTY LTD,Well Construction
2,252536,275813,WSP PARSONS BRINCKERHOFF,Well Backfill
3,362998,342062,MINISTER FOR ENVIRONMENT AND WATER,Well Construction

In [22]:
db.permits_by_completed_drillholes_all(dh_nos)[
    ["permit_no_full", "dh_no", "permit_holder", "permit_purpose"]
]

,permit_no_full,dh_no,permit_holder,permit_purpose
0,393,7429,DELHI INTERNATIONAL OIL CORP,TO CONSTRUCT A WATER SUPPLY WELL
1,393,104532,DELHI INTERNATIONAL OIL CORP,TO CONSTRUCT A WATER SUPPLY WELL
2,220805,275813,CALTEX AUSTRALIA PETROLEUM PTY LTD,Well Construction
3,252536,275813,WSP PARSONS BRINCKERHOFF,Well Backfill
4,362998,342062,MINISTER FOR ENVIRONMENT AND WATER,Well Construction
5,362998,348967,MINISTER FOR ENVIRONMENT AND WATER,Well Construction